<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Filtro</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="anho" class="col-lg-2 control-label">Año</label><br>
                <select class="form-control" id="anho" ng-model="anho">
                    <option ng-repeat="a in anhos" value="{{a.id}}">{{a.anho}}</option>
                </select><br>
            </div>
            <div class="form-group">
                <label for="especialidad" class="col-lg-2 control-label">Especialidad</label><br>

                <select class="form-control" id="especialidad" ng-model="filtro" ng-change="mostrarNiveles()">
                    <option>Educación Inicial</option>
                    <option>Primaria</option>
                    <option>E.E.B</option>
                    <option>BTI</option>
                    <option>BTC</option>
                    <option>BATAN</option>
                    <option>Cientifico</option>
                </select><br>

            </div>
            <div class="form-group">
                <label for="nivel" class="col-lg-2 control-label">Nivel</label><br>
                <select class="form-control" id="nivel" ng-model="curso">
                    <option ng-repeat="c in cursos" value="{{c.id}}">{{c.nivel}}º {{c.seccion}}</option>
                </select><br>
            </div>
            <button class="btn btn-primary" ng-click="listar()">Listar</button>
        </div>
    </div>
</div>
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Alumnos</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Responsable</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in alumnos">
                        <td>{{a.cedula}}</td>
                        <td>{{a.nombre}}</td>
                        <td>{{a.responsable}}</td>
                        <td>
                            <a href="#/alumnos/{{a.id}}" class="btn btn-info">Ver</a>
                            <a href="#/alumnos/cuotas/{{a.id}}" class="btn btn-danger">Cuota</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
